{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" type="text/css" href="{% static 'image/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body style="display: flex; flex-direction: row; background-color: #172032" >
  <div class="card-header" style="width: 40%; display: flex; flex-direction:row; background-color: #172032;">
          <div><img src='{% static "image/Arya.jpg" %}' style="height: 8rem;"></img></div>
        <div style="display: flex; flex-direction: column"> 
          <div style='color: white'><h3>SHARE</h3></div>
          <div style='color: white'><h3>YOUR</h3></div>
          <div style='color: white'><h3>PETS</h3></div>
        </div>
  </div>
    <center>
      <div class="card" style="width: 95%; background-color: #172032; border: 1px solid gray">
        <h2 style="color:white">Please login</h2>
        <form method="post">
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="text-muted">username</label>
            {% csrf_token %} {{ form.username}}
            <p></p>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="text-muted">Password</label>
            {{ form.password}}
            <p></p>
            <button class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
      &nbsp;
      <h3>
        <small class="text-muted">Not a member?</small>
      </h3>
      <h3>
        <small class="text-muted"> Sign up <a href="/register/">Here</a> </small>
      </h3>
    </center>
 
  </body>
</html>