{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    {% comment %} <script type="text/javascript" src="{% static 'twitteruser/script.js' %}" /> {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'image/style.css' %}" />

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light" style="background-color: #172032; border-bottom: 1px solid gray; margin-top: 0px">
      <span class="navbar-brand" style="color: white"><b>{{request.user.username}}:</b></span>
      <a class="navbar-brand" style="color:white" href="/">Home</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/postimage/" style="color:white">Post Photo</a>
          </li>
          {% if request.user %}
          <li class="nav-item active">
            <a class="nav-link" href="/logout/" style="color:white">Logout</a>
          </li>
          {% else %}
          <li class="nav-item active">
            <a class="nav-link" href="/login/" style="color:white">Login</a>
          </li>
         {% endif %}
         <li class="nav-item">
            <a class="nav-link" href="/notifications/" style="color:white">Notifications</a>
          </li>
          <li>
            {% if request.user.tags.count > 0 %}
            <b 
            style="color: white;
            background-color: red;
            border: 1px solid red;
            border-radius: 8px
              ">
              {{request.user.tags.count}}</b>
            {% endif %}
          </li>  
        </ul>
         <form class="d-flex" method="post" action="{% url 'search' %}">
       {% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="Search images" aria-label="Search" name="searched">
        &nbsp;
        <button class="btn btn-outline-info" type="submit">Search</button>
      </form>
    </nav>
  </body>
</html>
