{% include "navbar.html" %} &nbsp
<body style="background-color: #172032">
  <center>
    <div class="card" style="width: 50%; background-color: #172032; border: 1px solid gray">
      <div class="card-header">
        <h2 style="color: white">Post your pets!</h2>
      </div>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group" style="width: 40%">
          <label class="text-muted" for="exampleInputEmail1">Title</label>
          <input type="title" class="form-control" name="title" value="" />
        </div>
        <div class="form-group" style="width: 70%">
          <label class="text-muted" for="exampleFormControlTextarea1">Description</label>
          <textarea type="textarea" name="description" class="form-control" placeholder="describe this image"></textarea>
        </div>
        <div class="form-group" style="width: 30%">
          <label class="text-muted" for="exampleInputPassword1">Select an image</label>
          <input type="file" class="form-control" name="image" value="" />
        </div>
        <div class="card-footer">
          <button type="submit" value="submit" class="btn btn-primary">Post</button>
        </div>

        {% for message in messages %}
        <div>
          <a data-dismiss="alert">×</a>
          {{ message }}
        </div>
        {% endfor %}
      </form>
    </div>
  </center>
</body>
